@media screen and (max-width: 400px) {
    .box-div{
        flex-direction: column;
        margin-top: 10%;
        align-items: center;
    }
  }


h5{
    font-family: 'Noto Sans JP', sans-serif;
}

.service-box{
    height: 250px;
    width: 300px;
}


.box-div{
    display: flex;
    justify-content: space-between; 
}